# системный мусор
.DS_Store
Thumbs.db

# временные файлы
*.log
*.tmp
*.swp

# npm / node
node_modules/
dist/
build/

# VS Code
.vscode/

# macOS
__MACOSX/

# архивы и резервные копии
*.zip
*.rar
*.bak